@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Zeyada&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */
.artista{
    margin-bottom: 0.2rem;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 0.7rem;
    font-weight: 600;
}

/* About Me */
.silvia{
    height: 2.5rem;
    margin-right: 0;
    font-family: 'Zeyada', cursive;
    color: black;
    font-size: 2rem;
    font-weight: 550;
}
.perfil{
    margin: 1.5rem 1.5rem 1rem;
    width: 50%;
    height: 50%;
    text-align: center;
}
.firma{
    font-family: 'Zeyada', cursive;
    font-size: 2rem;
    rotate: -3deg;
    margin: 0 1.5rem 1.5rem;
    text-align: right;
}
.texto{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: small;
    font-weight: 400;
    margin: 0 1.5rem;
}

/* GENERALES*/
a{
    text-decoration: none;
}
a:hover{
    color: #660066 !important;
    font-weight: 600 !important;
}
img{
    width: 100%;
    height: auto;
}
.h1fNg{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}
.h1fBco{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}
.secFondoNg{
    background-color: black;
    padding: 0.7rem 1rem 2rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.secFondoBco{
    padding: 0.7rem 1rem 2rem;
}

/* Novedades */
.carrusel{
    width: 95%;
    margin: 0;
    background-color: black;
}
.h3Bco{
    padding: 1rem 1rem 0.5rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.pBco{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0;
    padding: 0 1rem 1rem;
}
.containerFcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.espacio{
    margin-top: 1rem;
}

/* CARDS */
.divCard{
    display: grid;
    grid-template-rows: 1fr 1fr 0.1fr;
    background-color: aliceblue;
    width: 10rem;
    height: 21rem;
    margin: 0.5rem;
    padding-bottom: 0.5rem;
}
.divFcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgCard{
    width: 9rem;
    height: 12rem;
    margin: 0.5rem 0;
}
.h2Ngo{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.2rem 0.7rem;
}
.pNgo{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0 0.7rem;
}
.spBld{
    font-weight: 600;
}
.boton{
    height: 1rem;
    width: 8rem;
    border: 0;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 0.5rem;
}
.botonChange{
    background-color: darkgoldenrod;
    color: black;
}

/* CONTENEDOR CARDS */
.containerFrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* FORMULARIO */
.formContacto{
    border: 0;
    width: 20rem;
    margin: 0 auto 1rem;
}
ul, li{
    width: 100%;
    padding: 0.4rem;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 0.6rem;
}
input{
    color: black;
    width: 100%;
    height: 1.8rem;
    padding-left: 0.2rem;
}
textarea{
    color: black;
    width: 100%;
    height: 10rem;
    padding-left: 0.2rem;
    resize: none;
}
.botonForm{
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: black;
    width: 45%;
    height: 1.8rem;
    padding-left: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 0.6rem;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color:white;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    color: white;
    font-size: small;
    font-weight: 300;
}
.icono{
    width: 40px;
    height: auto;
    margin-left: 1rem;
}