@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Zeyada&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */
.navbar{
    background-color: #FFF6F1 !important;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.marca{
    width: 12rem;
    height: 3rem;
    border: 1px;
    border-style: solid;
    border-color: #201D1D;
}
.silvia{
    height: 2rem;
    width: 100%;
    margin: 0;
    padding: 0.2rem 0 0;
    font-family: 'Quicksand', sans-serif;
    color: #201D1D;
    font-size: 1.2rem;
    font-weight: 400;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #201D1D;
}
.artista{
    margin-bottom: 0.2rem;
    padding-top: 0;
    font-family: 'Quicksand', sans-serif;
    color: #201D1D;
    font-size: 0.7rem;
    font-weight: 500;
}
ul, li, .carro{
    font-family: 'Quicksand', sans-serif;
    color: #201D1D;
    font-weight: 500;
    font-size: 0.7rem;
}
a{
    text-decoration: none;
}
a:hover{
    color: #892473 !important;
    font-weight: 600 !important;
}
.navbar-toggler{
    border: 0;
    padding: 0.1rem 0.25rem;
    font-size: 0.8rem;
}
.offcanvas-end {
    background-color: #FFF6F1;
    width: 275px;
}
.btn-sm, .form-control{
    height: 1rem;
    padding: 0.1rem 0.2rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.5rem;

}

/* CARRITO */
th, td{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.6rem;
}
.btn-danger{
    height: 0.8rem;
    width: 1rem;
    padding: 0 0.1rem 0.2rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.5rem;
    font-weight: 600;
}
.raya{
    background-color: black;
    height: 1px;
    width: 100%;
}

/* primer carrusel */
.imgCarrusel{
    margin-top: 5rem;
}

/* About Me */
.perfil{
    margin: 1.5rem 1.5rem 1rem;
    width: 50%;
    height: 50%;
    text-align: center;
}
.firma{
    font-family: 'Zeyada', cursive;
    font-size: 2rem;
    rotate: -3deg;
    margin: 0 1.5rem 1.5rem;
    text-align: right;
}
.texto{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: small;
    font-weight: 400;
    margin: 0 1.5rem;
}

/* GENERALES*/
img{
    width: 100%;
    height: auto;
}
.h1fNg{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}
.h1fBco{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}
.secFondoNg{
    background-color: black;
    padding: 0.7rem 1rem 2rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.secFondoBco{
    background-color: #FFF6F1;
    padding: 0.7rem 1rem 2rem;
}

/* Novedades */
.carrusel{
    width: 95%;
    margin: 0;
    background-color: black;
}
.h3Bco{
    padding: 1rem 1rem 0.5rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.pBco{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0;
    padding: 0 1rem 1rem;
}
.containerFcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.containerCarrusel2{
    margin-top: 1rem;
}

/* CARDS */
.divCard{
    display: grid;
    grid-template-rows: 1fr 1fr 0.1fr;
    background-color: #FFF6F1;
    width: 10rem;
    height: 21rem;
    margin: 0.5rem;
    padding-bottom: 0.5rem;
}
.divFcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgCard{
    width: 9rem;
    height: 12rem;
    margin: 0.5rem 0;
}
.h2Ngo{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.2rem 0.7rem;
}
.pNgo{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0 0.7rem;
}
.spBld{
    font-weight: 600;
}
.boton{
    height: 1rem;
    width: 8rem;
    border: 0;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 0.5rem;
}
.botonChange{
    background-color: darkgoldenrod;
    color: black;
}

/* CONTENEDOR CARDS */
.containerFrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Alerts*/
.swal2-title{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.swal2-html-container{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1rem;
    text-align: center;
}

/* modal */
.modalC{
    background-color: #FFF6F1;   
}
.modalTitulo{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}
.pModal{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0;
}
.divModal{
    margin-left: 1rem;
    margin-bottom: 0.7rem;
}
.ulModal{
    margin-bottom: 0;
    margin-left: 0.7rem;
    padding-left: 0;
}

/* FORMULARIO */
.formContacto{
    border: 0;
    width: 20rem;
    margin: 0 auto 1rem;
}
.ulForm, .liForm{
    width: 100%;
    padding: 0.4rem;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 0.6rem;
}
input{
    color: black;
    width: 100%;
    height: 1.8rem;
    padding-left: 0.2rem;
}
textarea{
    color: black;
    width: 100%;
    height: 10rem;
    padding-left: 0.2rem;
    resize: none;
}
.botonForm{
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: black;
    width: 45%;
    height: 1.8rem;
    padding-left: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 0.6rem;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #FFF6F1;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    color: black;
    font-size: small;
    font-weight: 300;
}
.pFoot{
    margin: 0;
}
.icono{
    width: 25px;
    height: auto;
    margin-left: 1rem;
}

/* media querys */
@media (min-width: 1024px) {
    main{
        margin-top: 4rem;
        display: grid;
        grid-template-areas: 
        "containerCarrusel containerPerfil";
    }
    .containerCarrusel{
        grid-area: containerCarrusel;
        margin-top: 0;
    }
    .containerPerfil{
        grid-area: containerPerfil;
        padding: 0;
        background-color: whitesmoke;
    }
    .firma{
        margin: 0;
    }

    .containerNovedades{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "containerCarrusel1 containerCarrusel2";
    }
    .containerCarrusel1{
        grid-area: containerCarrusel1;
        height: 100%;
        width: 100%;
    }
    .containerCarrusel2{
        grid-area: containerCarrusel2;
        justify-content: flex-start;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .containerNyC{
        display: grid;
        grid-template-areas: 
        "secNov secNov secFormu";

    }
    .secNov{
        grid-area: secNov;
    }
    .secFormu{
        padding-top: 1.2rem;
        grid-area: secFormu;
        background-color: #FFF6F1;
    }
    .formContacto{
        margin-top: 1rem;
    }
    .botonForm{
        margin-top: 2.3rem;
    }
    .h1query{
        color: black;
    }
    .pMsj{
        color: black;
    }
}
